*{
    font-family: 'Inconsolata', monospace;
}

html, body {

    background-color: var(--drkblue) !important;


}

.cloud {
    position: absolute;
    top: 20px;
    left: 250px;
    width: 600px;
    height: 100px;
}

.man {
    position: absolute;
    top: 250px;
    left: 80px;
    width: 380px;
    height: 200px;
}

.search {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 250px;
    left: 800px;
}

#search-input {
    background-color: var(--lgblue);
    color: var(--drkbeige);
    opacity: 70%;
    border-radius: 50px;
}

:root {
    --beige: #D9D0C1;
    --drkbeige: #8C826F;
    --white: #FFFEFC;
    --lgblue: #C1CBD9;
    --drkblue: #61748C;
}

.content img {
    width: 500px;
}

.title {
    position: relative;
    font-size: 5rem;
    color: var(--beige);
}

button #next{
    padding: 40px;
    margin-top: 20px;
}

.img-trio{
    max-width: 250px;
    max-height: 250px;
}

#art-image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    height: 230px;
}
